---
import AboutHeroImage from "../assets/like_flame.png";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="두 아이의 아빠, 남편, 약사, 개발자"
	pubDate={new Date("November 28 2025")}
	heroImage={AboutHeroImage}
>
	<p></p>

	<p>
		약사이자 개발자. 약국에서 15년을 근무하면서 점점 소비되어 가고 있다는
		생각이 들자 다른 걸로 채우고 싶다는 생각을 하게 되었음. 어쩌다가 맥북을
		사서 이것 저것 만져보다가 코딩을 배우게 되었음. 인터넷 강의, 블로그,
		유투브 강의 등을 보고 배웠음. 지금은 앱을 만들고 백엔드를 만들수 있고,
		어느정도 수준까지는 올라 왔다 생각. 이게 시간을 갈아 넣는 작업이다보니
		약국이 한가한게 많이 도움이(?)되었음. 그나저나 생활비를 못보태줘서
		와이프에게 미안해지는데... 어쨋든 지금은 나의 서비스를 바탕으로 수익화를
		고민하고 있음.
	</p>
</Layout>
